*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(237, 237, 237);
}

img {
    width: 100%;
}

.chat {
    width: 34.25px;
    height: 34.25px;
}

.container {
    max-width: 1085px;
    margin: 0 auto;
    background-color: whitesmoke;
}

/* ==================
      typography 
   ==================*/
.chat-p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2525rem;
    letter-spacing: 1px;
    color: #0E0E0E;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #090909;
    font-weight: 700;
    line-height: 2em;
}

h4 {
    color: #141414;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .2em;
}

.details {
    color: #505050;
    font-size: 1em;
    line-height: 20px;
}

.date {
    order: -1;
    font-size: 0.775em;
    margin: 0.875em 0;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 43.28px;
}

.view-more {
    display: block;
    text-align: center;
    font-size: 0.885625em;
    font-weight: 700;
    color: #000000;
    margin-bottom: 2em;
}

@media (min-width: 625px) {
    h2 {
        font-size: 40px;
    }

    .view-more {
        margin-bottom: 3em;
    }
}

.full-article-link {
    text-decoration: none;
}


.footer-p {
    color: #ECECEC;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.copyright {
    color: #D7D7D7;
    font-size: 12px;
}

/* ==================
        header
   ================== */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 3.3125em;
    padding: 1em 0;
}

.title {
    display: flex;
    align-items: center;
    gap: .1em;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
}

/* ==================
      top section 
   ==================*/
.main-img {
    background-image: url("images/main-blog.png");
    width: 100%;
    height: 488px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* ==================
        article
   ================== */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 1.8em;
    padding: 1.5em;
}

@media (min-width: 625px) {
    article {
        padding: 2em;
    }
}

@media (min-width: 825px) {
    article {
        padding: 3em;
    }
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.card-img {
    order: -2;
    max-width: 480px;
    height: 232px;
    object-fit: cover;
}

/* ====================
    short-description 
   ====================*/
.short-description {
    color: #FFFFFF;
    text-shadow: 0px 0px 5px rgb(248, 248, 247);
    max-width: 450px;
    padding: 250px 0 0 23px;
}

@media (min-width: 625px) {
    .short-description {
        max-width: 580px;
        padding: 260px 0 0 53px;
    }
}

@media (min-width: 825px) {
    .short-description {
        max-width: 720px;
    }
}

/* ==================
        footer 
   ==================*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #202020;
    height: 105px;
}




/* =======================================
            blog.html page
   =======================================*/

/*  typography  */
.view-full-article h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #151515;
    width: 90%;
    margin: .5em auto;
}

.view-full-article p,
.view-full-article h3 {
    width: 90%;
    margin: 1em auto;
}

.view-full-article {
    background-color: #fafafa;
    padding: 1em 0;
    /* border: 1px solid black; */
}

.recent h3 {
    text-align: center;
    margin: .3em auto;
}

/* typography end */

.view-full-article img {
    margin: 1.5em 0;
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

@media (min-width: 625px) {
    .view-full-article h1 {
        font-size: 2.25rem;
    }

    .view-full-article h3,
    .recent h3 {
        font-size: 1.5rem;
    }

    .view-full-article img {
        max-height: 500px;
    }
}





/* =======================================
            aboutme.html page
   =======================================*/

.about-me img {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    order: -1;
}

.about-me-intro {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
}

/*  typography  */

.about-me-intro h1 {
    font-size: 2.1775rem;
    font-weight: 700;
    margin-bottom: .3em;
}

.about-me-detail {
    padding-bottom: 1em;
}

.about-me-detail h3 {
    margin-top: 1.5em;
}

.about-me-detail p {
    margin-top: 1.5em;
}

.about-me-intro,
.about-me-detail {
    width: 90%;
    margin: 0 auto;
}

/* typography end */

@media (min-width: 625px) {
    .about-me-intro {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .about-me-intro h1 {
        font-size: 2.25rem;
        margin-bottom: .1em;
    }
}